.black_bg {
    background-color: #000000;
}

.white_bg {
    background-color: #FFFFFF;
}

.gray_bg {
    background-color: #A6A6A6;
}

#footer {
    background-color: #f5f5f5;
}

#footer .container {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.title {
    padding-left: 25px;
}

.item-title {
    font-color: #FFFFFF;
    font-size: 18px;
    text-transform: capitalize;
}

.center {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

a {
    color: #000;
    text-decoration:none;
}

a:visited {
    text-decoration:none;
}

a:hover {
    text-decoration:none;
}

a:active {
    text-decoration:none;
}
